#-*-coding:utf-8-*-
# vim: ft=python

# debug
DEBUG=True
USE_DEBUGGER=True

# used for session
SECRET_KEY='youshouldnotknowthis'

# application side settings
PAGE_SIZE=20

# database settings
SQLALCHEMY_DATABASE_URI='mysql://root:root@localhost/scriptfan_dev?charset=utf8'
SQLALCHEMY_ECHO=False

# LOGGING CONFIG
LOGGER_NAME='scriptfan'

# babel
BABEL_DEFAULT_LOCALE='zh_CN'
