#-*-coding:utf-8-*-
# vim: ft=python

# debug
DEBUG=True
USE_DEBUGGER=True

# used for session
SECRET_KEY='youshouldnotknowthis'

# application side settings
PAGE_SIZE=20

# database settings
SQLALCHEMY_DATABASE_URI='sqlite:///db.sqlite'
SQLALCHEMY_ECHO=False

# LOGGING CONFIG
LOGGER_NAME='scriptfan'
