#-*-coding:utf-8-*-

# debug
DEBUG=True

# error_log
ERROR_LOG='error.log'

# used for session
SECRET_KEY='youshouldnotknowthis'

# application side settings
PAGE_SIZE=20

# database settings
MONGODB_DB='scriptfan'
