flask >= 0.8
flask-script >= 0.3.3
flask-sqlalchemy >= 0.16
flask-login >= 0.1.3
flask-wtf >= 0.8
flask-admin >= 1.0.1
flask-openid >= 1.0.1
flask-principal >= 0.3
mysql-python >= 1.2.4c1
sqlalchemy >= 0.7
alembic >= 0.4.0
