<div class="well sidebar-list span3">
    <ul class="nav nav-list" id="navs-settings">
        {% if not current_user.user.slug %}
        <li class="slug"><a href="{{ url_for('users.slug') }}">设置修改域名</a></li>
        {% endif %}
        <li class="general"><a href="{{ url_for('users.general') }}">修改我的资料</a></li>
        <li class="email"><a href="#">修改登陆邮箱</a></li>
        <li class="password"><a href="{{ url_for('users.password') }}">{{ current_user.user.password and '修改密码' or '设置密码' }}</a></li>
        <li class="services"><a href="{{ url_for('users.openid_manage') }}">管理服务绑定</a></li>
    </ul>
</div>
