{% set pwd_action = current_user.user.password and 'reset' or 'set' -%}
{% set navbar_items = [
   (url_for('users.slug'),          'slug',      _('views.users.slug.title')), 
   (url_for('users.general'),       'general',   _('views.users.general.title')), 
   ('#',                            'email',     _('views.users.email.title')), 
   (url_for('users.password'),      'password',  _('views.users.password.title.' + pwd_action)), 
   (url_for('users.openid_manage'), 'openids',   _('views.users.openids.title')),
] -%}

<div class="well sidebar-list span3">
    <ul class="nav nav-list" id="navs-settings">
        {% for href, navitem, text in navbar_items %}
        {% if navitem != 'slug' or not current_user.user.slug %}
        <li class="{{ navitem }}{% if navitem == g.actived_navitem %} active{% endif %}">
            <a href="{{ href }}">{{ text }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
