{% extends "layout.html" %}

{% block title %}{{ _('views.users.signin.title') }}{% endblock %}

{% block content %}
<div class="content">
    <div class="page-header">
        <h1>{{ self.title() }}</h1>
    </div>
    
    <form action="{{ url_for('users.signin') }}" class="form-horizontal" id="form-signin" method="post">
        {{ form.hidden_tag() }}
        <div class="control-group {{ form.email | error_class }}">
            <label class="control-label">{{ _('models.user.email') }}</label>
            <div class="controls">
                {{ form.email }}
                <span class="help-inline">{{ form.email | error_text }}</span>
            </div>
        </div>
        <div class="control-group {{ form.password | error_class }}">
            <label class="control-label">{{ _('models.user.password') }}</label>
            <div class="controls">
                {{ form.password }}
                <span class="help-inline">{{ form.password | error_text }}</span>
                <span class="help-inline"><a href="{{ url_for('users.reset_step1') }}">{{ _('forms.signin.messages.password_lost') }}</a></span>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ _('forms.signin.buttons.submit') }}</button>&nbsp;&nbsp;
            <label class="checkbox inline">
              {{ form.remember }} {{ _('forms.signin.fields.remember') }}
            </label>
            <div><a href="{{ url_for('users.openid', provider='google') }}">{{ _('links.signin_with_google') }}</a></div>
        </div>
    </form><!-- #form-signin -->
</div><!-- .content -->
{% endblock %}

