.article-list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

#epiceditor { 
    width: 100%; 
    height: 349px;
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 9px;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
}

.pagination {
    margin-bottom: 0;
}

.article-head h3 { margin-bottom: 0; }
.article-meta { background-color: #f9f9f9; margin-bottom: 16px; padding: 2px 5px; }
.article-meta span { margin-right: 5px; }
.article-show .article-meta { margin-left: -20px; margin-right: -20px; }
