body {
    background-color: #fafafa;
}

body > div.navbar > div.navbar-inner {
    border-radius:0;
}
body > div.navbar > div.navbar-inner > div.container {
    width:auto;
}
body > div.navbar > div.navbar-inner > div.container > div > form > input {
    height:26px;
}

.content {
    background-color: white;
    padding: 20px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,.15);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
}

.form-horizontal, .form-vertical {
    margin-bottom: 0px;
}

.form-actions {
    margin: auto -20px -20px -20px;
}

.page-header {
    background-color: whiteSmoke;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
    height: 40px;
}

.page-header h1 {
    margin: 0;
    font-size: 30px;
    line-height: 1;
}

.page-header .avatar-large {
    margin-top: -10px;
    margin-left: 10px;
    width: 110px;
    height: 110px;
    background: #eeeeee,
}

.sidebar-list {
    padding: 9px 0;
}

.nav-header { font-size: 12px; }
