{% extends "layout.html" %}

{% block title %}创建活动{% endblock %}

{% block styles %}
{{ t.css('css/event.css') }}
{% endblock %}

{% block scripts %}
{{ t.js('http://maps.google.com/maps/api/js?v=3.exp&sensor=false&libraries=places', external=true) }}
{{ t.js('js/event.js') }}
{% endblock %}

{% block content %}
<div class="content">
    <div class="page-header">
        <h3>创建活动</h3>
    </div>
    
    {% import 'activities/_form.html' as f %}
    {{ f.form(form, action=url_for('event.create')) }}
</div>

{% endblock %}
