{% extends "layout.html" %}

{% block title %}社区活动{% endblock %}

{% block content %}
<div class="content">
    <div class="page-header">
        <a href="{{ url_for('activity.create') }}" class="btn btn-success pull-right">发起活动</a>
        <h3>社区活动</h3>
    </div>

    <ul class="activity-list">
        {% for activity in activities %}
        <li class="activity activity-{{ activity.id }}">
            <div class="activity-head">
                <h3>{{ activity.title }}</h3>
                <span class="activity-date" style="float:right">{{ activity.created_time | dateformat }}</span>
            </div>
            <div class="activity-content">
                {{ activity.content | markdown | safe }}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
