{% extends "articles/layout.html" %}

{% block title %}{{ _('views.articles.edit.title') % form.title.data }}{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/articles.css') }}" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='lib/epiceditor/js/epiceditor.min.js') }}"></script>
{{ super() }}
{% endblock %}

{% block content_body %}
    <div class="page-header">
        <h1>{{ _('views.articles.edit.title') % form.title.data }}</h1>
    </div>

    {% include 'articles/_form.html' %}
{% endblock %}

