{% extends "articles/layout.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content_body %}
    <div id="article-{{ article.id }}" class="article article-show">
        <div class="page-header" style="margin-bottom: 0;">
        {% if require_roles('admin', 'root') %}
            <a href="{{ url_for('articles.update', article_id=article.id) }}" class="btn btn-success pull-right">{{ _('articles.edit') }}</a>
            <form action="{{ url_for('articles.destroy', article_id=article.id) }}" method="POST" 
                    class="form-inline pull-right" onsubmit="return confirm('{{ _('articles.destroy.confirm') }}');">
                {{ destroy_form.hidden_tag() }}
                <button class="btn btn-danger" type="submit">{{ _('articles.destroy') }}</button>
            </form>
        {% endif %}

            <h1>{{ article.title }}</h1>
        </div>

        <div class="article-head">
            <div class="article-meta">
                <span><i class="icon icon-time"></i> {{ article.created_time | dateformat }}</span>
                <span><i class="icon icon-user"></i> {{ article.author.nickname }}</span>
                <span><i class="icon icon-tags"></i> {{ article.tags_text }}</span>
            </div>
        </div>

        <div class="article-content">
            {{ article.content_html | safe }}
        </div>
    </div><!-- .article -->
{% endblock %}
