{% extends "articles/layout.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content_body %}
    <div id="article-{{ article.id }}" class="article article-show">
        <div class="page-header" style="margin-bottom: 0;">
            <a href="{{ url_for('articles.update', article_id=article.id) }}" class="btn btn-success pull-right">{{ _('articles.edit') }}</a>
            <h1>{{ article.title }}</h1>
        </div>

        <div class="article-head">
            <div class="article-meta">
                <span><i class="icon icon-time"></i> {{ article.created_time | dateformat }}</span>
                <span><i class="icon icon-user"></i> {{ article.author.nickname }}</span>
                <span><i class="icon icon-tags"></i> {{ article.tags_text }}</span>
            </div>
        </div>

        <div class="article-content">
            {# TODO: Use article.content_html instead of content #}
            {{ article.content_html | safe }}
        </div>
    </div><!-- .article -->
{% endblock %}
