<!DOCTYPE html>
{% import '_helpers.html' as t %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %} - ScriptFan.com</title>

        <!-- 全局样式 -->
        {{ t.css('lib/bootstrap/css/bootstrap.min.css') }}
        {{ t.css('css/styles.css') }}

        <!-- 页面样式 -->
        {% block styles %}{% endblock %}

        <!-- 全局脚本 -->
        {{ t.js('lib/jquery-1.8.3.min.js') }}
        {{ t.js('lib/bootstrap/js/bootstrap.min.js') }}
        {{ t.js('js/application.js') }}

        <!-- 页面脚本 -->
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="/">ScriptFan</a>
                <ul class="nav">
                    <li><a href="/">{{ _("Index") }}</a></li>
                    <li><a href="{{ url_for('activity.index') }}">{{ _("Activities") }}</a></li>
                    {% if current_user.is_authenticated() %}
                        <li><a href="{{ url_for('user.profile') }}">我的页面</a></li>
                    {% endif %}
                </ul>
                <form class="navbar-search pull-left" action="">
                    <input type="text" class="search-query input-large" placeholder="Search" />
                </form>
                <ul class="nav pull-right">
                    {% if current_user.is_authenticated() %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{ current_user.user.get_avatar_url(16) }}" width="16" height="16" style="vertical-align:middle;" /> {{ current_user.user.nickname | default('Account') }} <b class="caret"></b></a>

                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('user.general') }}"><i class="icon icon-user"></i> 修改资料</a></li>
                            <li><a href="{{ url_for('user.signout') }}"><i class="icon icon-off"></i> 退出</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="{{ url_for('user.signup') }}">{{ _("Signup") }}</a></li>
                    <li><a href="{{ url_for('user.signin') }}">{{ _("Sign In") }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="alert-messages">
                {% for category, message in  get_flashed_messages(with_categories=true) %}
                <div class="alert alert-{{ category | default('info') }}">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ message | safe }}
                </div>
                {% endfor %}
            </div>
            
            {% if current_user.user  %}
                {% if not skip_slug_info and not current_user.user.slug %}
                <div class="alert alert-info">
                    <i class="icon icon-info-sign"></i>
                    你尚未设置个性域名，个性域名提供更友好的页面页面地址。
                    {# TODO: 添加个性域名提示不再显示功能 #}
                    <a href="#" class="pull-right" data-dismiss="alert" style="margin-left:10px;"><i class="icon icon-remove-circle"></i> 不再提示</a>
                    <a href="{{ url_for('user.slug') }}" class="pull-right"><i class="icon icon-share"></i> 前往设置</a>
                </div>
                {% endif %}
                
                {% if true or not skip_password_info and not current_user.user.password %}
                <div class="alert alert-warning">
                    <i class="icon icon-exclamation-sign"></i>
                    你尚未设置密码，为了帐号的安全，请尽快设置密码。
                    {# TODO: 添加密码设置提示不再显示功能 #}
                    <a href="#" class="pull-right" data-dismiss="alert" style="margin-left:10px;"><i class="icon icon-remove-circle"></i> 不再提示</a>
                    <a href="{{ url_for('user.password') }}" class="pull-right"><i class="icon icon-share"></i> 前往设置</a>
                </div>
                {% endif %}
            {% endif %}

            {% block content %}{% endblock %}
            <div class="footer">{% block footer %}{% endblock %}</div>
        </div>
    </body>
</html>
