{%- import '_helpers.html' as t -%}
{%- import '_pagination.html' as p -%}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %} - ScriptFan.com</title>

        <!-- 全局样式 -->
        {{ t.css('lib/bootstrap/css/bootstrap.min.css') }}
        {{ t.css('css/styles.css') }}
        <!-- 页面样式 -->
        {% block styles %}
        {{ t.css('css/%s.css' % request.blueprint) }}
        {% endblock %}
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="/">ScriptFan</a>
                <ul class="nav">
                    <li><a href="{{ url_for('home.index') }}">{{ _("index") }}</a></li>
                    <li><a href="{{ url_for('events.index') }}">{{ _("event") }}</a></li>
                    <li><a href="{{ url_for('articles.index') }}">{{ _("articles") }}</a></li>
                    {% if current_user.is_authenticated() %}
                        <li><a href="{{ url_for('users.profile') }}">{{ _("my_profile") }}</a></li>
                    {% endif %}
                </ul>
                <form class="navbar-search pull-left" action="">
                    <input type="text" class="search-query input-large" placeholder="Search" />
                </form>
                <ul class="nav pull-right">
                    {% if current_user.is_authenticated() %}
                    <li class="dropdown">
                        {# TODO: Cache avatar url to speed up page loading #}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><!-- img src="{{ current_user.user.get_avatar_url(16) }}" width="16" height="16" style="vertical-align:middle;" / --> {{ current_user.user.nickname | default('Account') }} <b class="caret"></b></a>

                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('users.general') }}"><i class="icon icon-user"></i>{{ _("manage") }}</a></li>
                            <li><a href="{{ url_for('users.signout') }}"><i class="icon icon-off"></i>{{ _("logout") }}</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="{{ url_for('users.signup') }}">{{ _("signup") }}</a></li>
                    <li><a href="{{ url_for('users.signin') }}">{{ _("signin") }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="flash">
                {% for category, message in  get_flashed_messages(with_categories=true) %}
                <div class="alert alert-{{ category | default('info') }} fade in">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ message | safe }}
                </div>
                {% endfor %}
            </div>
            
            {% if current_user.is_authenticated() %}
                {% if not skip_slug_info and not current_user.user.slug %}
                <div class="alert alert-info fade in">
                    <i class="icon icon-info-sign"></i>
                    你尚未设置个性域名，个性域名提供更友好的页面页面地址。
                    {# TODO: 添加个性域名提示不再显示功能 #}
                    <a href="#" class="pull-right" data-dismiss="alert" style="margin-left:10px;"><i class="icon icon-remove-circle"></i> 不再提示</a>
                    <a href="{{ url_for('users.slug') }}" class="pull-right"><i class="icon icon-share"></i> 前往设置</a>
                </div>
                {% endif %}
                
                {% if not skip_password_info and not current_user.user.password %}
                <div class="alert alert-warning fade in">
                    <i class="icon icon-exclamation-sign"></i>
                    你尚未设置密码，为了帐号的安全，请尽快设置密码。
                    {# TODO: 添加密码设置提示不再显示功能 #}
                    <a href="#" class="pull-right" data-dismiss="alert" style="margin-left:10px;"><i class="icon icon-remove-circle"></i> 不再提示</a>
                    <a href="{{ url_for('users.password') }}" class="pull-right"><i class="icon icon-share"></i> 前往设置</a>
                </div>
                {% endif %}
            {% endif %}

            {% block content %}{% endblock %}
            <div class="footer">{% block footer %}{% endblock %}</div>
        </div>

        <!-- 全局脚本 -->
        {{ t.js('lib/jquery-1.8.3.min.js') }}
        {{ t.js('lib/bootstrap/js/bootstrap.min.js') }}
        {{ t.js(url_for('home.env'), external=True) }}
        {{ t.js('js/application.js') }}
        <!-- 页面脚本 -->
        {% block scripts %}
        {{ t.js('js/%s.js' % request.blueprint) }}
        {% endblock %}
    </body>
</html>
