{% extends "base.html" %}
{% block title %}修改密码{% endblock %}

{% block content %}
<div class="content">
    <div class="page-header">
        <h3>修改密码</h3>
    </div>

    <form class="form form-horizontal" action="{{ url_for('user.edit_pass') }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="control-group {{ form.old_password | error_class }}">
            <label class="control-label">{{ form.old_password.label }}</label>
            <div class="controls">
                {{ form.old_password }}
                <span class="help-inline">{{ form.old_password | error_text }}</span>
            </div>
        </div>

        <div class="control-group {{ form.password | error_class }}">
            <label class="control-label">{{ form.password.label }}</label>
            <div class="controls">
                {{ form.password }}
                <span class="help-inline">{{ form.password | error_text('5到20位字符') }}</span>
            </div>
        </div>

        <div class="control-group {{ form.confirm | error_class }}">
            <label class="control-label">{{ form.confirm.label }}</label>
            <div class="controls">
                {{ form.confirm }}
                <span class="help-inline">{{ form.confirm | error_text }}</span>
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">修改密码</button>
            <a href="{{ form.next.data }}" class="btn">返回</a>
        </div>
    </form>
</div>
{% endblock %}
