{% extends "user/layout.html" %}

{% block title %}修改基本资料{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(function() {
        $('#navs-settings .general').addClass('active');
    });
</script>
{% endblock %}

{% block content_body %}
<form id="form-general" class="form-horizontal" action="{{ url_for('user.general') }}" method="post">
    {{ form.hidden_tag() }}
    
    <div class="control-group {{ form.nickname | error_class }}">
        <label class="control-label">昵称</label>
        <div class="controls">
            {{ form.nickname }}
            <span class="help-inline">{{ form.nickname | error_text }}</span>
        </div>
    </div>

    <div class="control-group {{ form.phone | error_class }}" style="margin-bottom: 0;">
        <label class="control-label">手机号码</label>
        <div class="controls">
            {{ form.phone }}
            <span class="help-inline">{{ form.phone | error_text }}</span>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            {% for radio in form.phone_privacy %}
            <label class="radio inline">
                {{ radio }} {{ radio.label }}
            </label>
            {% endfor %}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">座右铭</label>
        <div class="controls">
            {{ form.motoo }}
            <span class="help-inline"></span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">个人介绍</label>
        <div class="controls">
            {{ form.intro }}
            <span class="help-block"></span>
        </div>
    </div>
    
    <div class="form-actions">
        <button type="submit" class="btn btn-primary" data-loading-text="提交中...">更新资料</button>
    </div>
</form>
<!--
<div class="tab-pane" id="tab-email">
    <form action="" class="form-horizontal" id="form-email" method="post">
        <div class="control-group">
            <label class="control-label">电子邮件</label>
            <div class="controls">
                <input type="text" name="email" />
                <span class="help-inline"></span>
            </div>
        </div>
        <div class="alert alert-info">
            电子邮件可能用于接收信息，为避免垃圾邮件，更新邮件邮件地址需要通过邮件验证
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">发送验证邮件</button>
        </div>
    </form>
</div>
-->
{% endblock %}
