{% extends "user/layout.html" %}

{% block title %}
{% if current_user.user.password %}
修改密码
{% else %}
设置密码
{% endif %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(function() {
        $('#navs-settings .password').addClass('active');
    });
</script>
{% endblock %}

{% block content_body %}
<form id="form-password" class="form-horizontal" action="{{ url_for('user.password') }}" method="POST">
    {{ form.hidden_tag() }}
    {% if current_user.user.password %}
    <div class="control-group {{ form.old_password | error_class }}">
        <label class="control-label">{{ form.old_password.label }}</label>
        <div class="controls">
            {{ form.old_password }}
            <span class="help-inline">{{ form.old_password | error_text }}</span>
        </div>
    </div>
    {% endif %}

    <div class="control-group {{ form.password | error_class }}">
        <label class="control-label">{{ form.password.label }}</label>
        <div class="controls">
            {{ form.password }}
            <span class="help-inline">{{ form.password | error_text }}</span>
        </div>
    </div>

    <div class="control-group {{ form.confirm | error_class }}">
        <label class="control-label">{{ form.confirm.label }}</label>
        <div class="controls">
            {{ form.confirm }}
            <span class="help-inline">{{ form.confirm | error_text }}</span>
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            {% if current_user.user.password %}
            更新密码
            {% else %}
            设置密码
            {% endif %}
        </button>
    </div>
</form>
{% endblock %}
