{% extends "base.html" %}

{% block title %}{{ user.nickname }}{% endblock %}

{% block styles %}
{{ t.css('css/profile.css') }}
{% endblock %}

{% block content %}
<div class="content">
    <div class="page-header">
        <h3>{{ user.nickname }} 的资料
            <img src="{{ user.get_avatar_url(110) }}" class="pull-right img-polaroid avatar-large" />
        </h3>
    </div>

    <div class="well well-small section section-userinfo">
        <div>电子邮件：<a href="mailto:{{ user.email }}">{{ user.email }}</a></div>
        {% if user.id == current_user.user.id %}
            <div>手机号码：{{ user.phone }}</div>
        {% elif not current_user.is_anonymous() %}
            {% if user.phone_privacy in (1, 2) %}
                <div>手机号码：{{ user.phone }}</div>
            {% endif %}
        {% elif user.phone_privacy == 1 %}
            <div>手机号码：{{ user.phone }}</div>
        {% endif %}
        <div>座右铭：<span>{{ user.motoo }}</span></div>
        <div>个人介绍：<span>{{ user.intro }}</span></div>
        <div>注册日期：<span>{{ user.created_time | dateformat }}</span></div>
    </div>
</div>
{% endblock %}
