{% extends "base.html" %}
{% block title %}注册会员{% endblock %}
{% block content %}
<h1>用户注册</h1>
<form action="{{ url_for('user.register') }}" class="form-horizontal" id="form-register" method="post">
    <div class="control-group {{ form.email.errors and 'error' }}">
        <label class="control-label">邮件</label>
        <div class="controls">
            {{ form.email }}
            <span class="help-inline">{{ form.email.errors | first }}</span>
        </div>
    </div>
    <div class="control-group {{ form.nickname.errors and 'error' }}">
        <label class="control-label">昵称</label>
        <div class="controls">
            {{ form.nickname }}
            <span class="help-inline">{{ form.nickname.errors | first }}</span>
        </div>
    </div>
    <div class="control-group {{ form.password.errors and 'error' }}">
        <label class="control-label">密码</label>
        <div class="controls">
            {{ form.password }}
            <span class="help-inline">{{ form.password.errors | first }}</span>
        </div>
    </div>
    <div class="control-group {{ form.repassword.errors and 'error' }}">
        <label class="control-label">确认密码</label>
        <div class="controls">
            {{ form.repassword }}
            <span class="help-inline">{{ form.repassword.errors | first }}</span>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">用户注册</button>
    </div>
</form>
{% endblock %}
