{% extends "base.html" %}
{% block title %}会员登陆{% endblock %}

{% block scripts %}
{{ tags.script_tag('lib/jquery-openid.js') }}
{% endblock %}

{% block content %}
<h1>用户登陆</h1>
<form action="{{ url_for('user.signin') }}" class="form-horizontal" id="form-signin" method="post">
    {{ form.hidden_tag() }}
    <div class="control-group {{ form.email.errors and 'error' }}">
        <label class="control-label">邮件</label>
        <div class="controls">
            {{ form.email }}
            <span class="help-inline">{{ form.email.errors | first }}</span>
        </div>
    </div>
    <div class="control-group {{ form.password.errors and 'error' }}">
        <label class="control-label">密码</label>
        <div class="controls">
            {{ form.password }}
            <span class="help-inline">{{ form.password.errors | first }}</span>
        </div>
    </div>
    {% if error %}
        <div class="alert alert-error">
            <strong>错误：</strong> {{ error }}
        </div>
    {% endif %}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">用户登陆</button>&nbsp;&nbsp;
        <label class="checkbox inline">
            {{ form.remember }} 记住我的登陆信息
        </label>
        <div>使用 <a href="javascript:void(0);" rel="openid" data-provider="google">Gmail帐户</a> 登陆</div>
    </div>
</form>
{% endblock %}
