{% extends "layout.html" %}

{% block title %}注册会员{% endblock %}

{% block scripts %}
{{ t.js('lib/jquery-openid.js') }}
{% endblock %}

{% block content %}
<div class="content">
    <div class="page-header">
        <h1>{{ self.title() }}</h1>
    </div>

    <form action="{{ url_for('user.signup') }}" class="form-horizontal" id="form-signup" method="post">
        <div class="control-group {{ form.email | error_class }}">
            <label class="control-label">邮件</label>
            <div class="controls">
                {{ form.email }}
                <span class="help-inline">{{ form.email | error_text }}</span>
            </div>
        </div>
        <div class="control-group {{ form.nickname | error_class }}">
            <label class="control-label">昵称</label>
            <div class="controls">
                {{ form.nickname }}
                <span class="help-inline">{{ form.nickname | error_text }}</span>
            </div>
        </div>
        <div class="control-group {{ form.password1 | error_class }}">
            <label class="control-label">密码</label>
            <div class="controls">
                {{ form.password1 }}
                <span class="help-inline">{{ form.password1 | error_text }}</span>
            </div>
        </div>
        <div class="control-group {{ form.password2 | error_class }}">
            <label class="control-label">确认密码</label>
            <div class="controls">
                {{ form.password2 }}
                <span class="help-inline">{{ form.password2 | error_text }}</span>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">注册</button>
            &nbsp;&nbsp;或者直接 <a href="javascript:void(0);" rel="openid" data-provider="google">使用Google登陆</a>
        </div>
    </form><!-- #form-signup -->
</div><!-- .content -->
{% endblock %}

