{% extends "user/layout.html" %}

{% block title %}设置个性域名{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(function() {
        $('#navs-settings .slug').addClass('active');
    });
</script>
{% endblock %}

{% block content_body %}
<form id="form-slug" class="form-horizontal" action="{{ url_for('user.slug') }}" method="post">
    {{ form.hidden_tag() }}
    
    <div class="alert alert-info"><strong>注意：</strong>个性域名设定后不能修改</div>
    
    <div class="control-group {{ form.slug | error_text }}">
        <label class="control-label">个性域名</label>
        <div class="controls">
            <div class="input-prepend">
                <span class="add-on">{{ request.url_root }}profile/</span>
                {{ form.slug(placeholder='user-slug') }}
            </div>
            <label class="help-inline">{{ form.slug | error_text }}</span>
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary" data-loading-text="提交中...">确认个性域名</button>
    </div>
</form>
{% endblock %}
